<%= link_to("<< Back to list", {:action => 'index'}, :class => 'back-link') %>

<div class="character">
	<h2>Create new character</h2>

	<% form_for(:char_type, :url => {:action => 'create'}) do |f| %>
	
		
			<!-- <th>Name</th>
			<td><%= f.text_field(:name) %></td> -->
	<p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>

	<div class="form-buttons">
		<%= submit_tag("Create character") %>
	</div>
	<% end %>
</div>
