<%= link_to("<< Back to list", {:action => 'index'}, :class => 'back-link') %>

<!-- Test van div taga --> 
<% form_for(:char_type, :url => {:action => 'create'}) do |f| %>
<p>
    <%= f.label :name %><br />
    <%= f.text_field (:name) %>
  </p>
  <% end %>


<!-- Test sa div tagom -->
<div class="characters">
	<h2>Create new character</h2>

	<% form_for(:char_type, :url => {:action => 'create'}) do |f| %>
	<!-- <table summary="Character from fields">
		<tr>
			<th>Name</th>
			<td><%= f.text_field :name %> </td>
		</tr>
	</table> -->

	<p>
    <%= f.label :name %><br />
    <%= f.text_field (:name) %>
  </p>

	<div class="form-buttons">
		<%= submit_tag("Create character") %>
	</div>
	<% end %>
</div>
